{% extends 'base.html' %}
{% block content %}
<nav class="navbar nav-color sticky-top">
    <span style="cursor:pointer" class="navbar-brand nav-text-color" onclick="openNav()">&#9776; </span>
    <button type="button" class="btn nav-color nav-text-color">About</button>
</nav>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn navItem" onclick="closeNav()">&times;</a>
    <a href="#" class="navItem font-weight-bold" id = "all" onclick="renderPosts(0)">All Posts</a>
    {% for cat in categories %}
        <a href="#" id = "{{ cat }}" class="navItem" onclick="renderPosts(0,'{{ cat }}')">{{ cat }}</a>
    {% endfor %}
</div>

<div class="container-fluid">
    <table class="mb-3 mt-2" style="width:100%;">
        <th class="">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" style="background:#3295FE;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Latest
              </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a id = "0" class="dropdown-item sort" href="#">Latest</a>
                        <a id = "2" class="dropdown-item sort" href="#">Oldest</a>
                        <a id = "1" class="dropdown-item sort" href="#">Most Popular</a>
                        <a id = "3" class="dropdown-item sort" href="#" >Least Popular</a>                     
                  </div>
            </div>
        </th>
        <th class="" style="width:50%;">
            <input class="form-control" onkeyup="livesearch(this.value)" type="text" placeholder="Search Posts" aria-label="Search">
        </th>
    </table>

    <p class="p-size" id="not_found" style="display:none">No Post Found</p>
    <div id = "posts"></div>

</div>


<script>
function livesearch(name){
    $('.homecard').each(function() {
        post_name = $(this).children().children().children().first().children().children().first().children().text()
        if(post_name.toLowerCase().includes(name.toLowerCase())){
            $(this).show();
        }else{
            $(this).hide();
        }
    });
    if($(".homecard:visible").length==0){
       $("#not_found").show();
    }else{
        $("#not_found").hide();
    }
 }

function renderPosts(order, type=null){  
   let domstring = ""
   let Url =  "/all/"+order
   if(type){
      Url += "?type="+type
   }

   closeNav();
   $.ajax({url: Url, success:
        function(result){

            if(order==0){
                $("#dropdownMenuButton").html("Latest");
            }
            else if(order==1){
                $("#dropdownMenuButton").html("Most Popular");
            }
            else if(order==2){
                $("#dropdownMenuButton").html("Oldest");
            }else{
                $("#dropdownMenuButton").html("Least Popular");
            }

            for (var i = 0; i < result.length; i++){
                if (result[i]){
                    domstring+=eachPost(result[i])
                }
            }
            document.getElementById("posts").innerHTML = domstring;
        }
    });

  

}

function eachPost(post){
   return `<div class="card mb-4 homecard">
        <div class="card-body">
            <table style = "width:100%">
                <tr style = "width:100%">
                    <th> <h2 class="card-title h-size"><a href="/posts/${post["pk"].replace(/["]+/g, '')}">${post["title"].replace(/["]+/g, '')}</a></h2></th>
                    <th style="text-align:right;"> <span class="badge badge-success">${post["category"].replace(/["]+/g, '')}</span></th>
                </tr>
            </table>
            <p class="card-text p-size">${post["content"].replace(/["]+/g, '')}</p>
        </div>
        <div class="card-footer text-muted p-size">
        <div class = "row">
            <div class = "col">Popularity: ${post["votes"].replace(/["]+/g, '')}</div>
            <div class = "col">
                <div class = "float-right">By<a class="p-size" href="/author/${post["author"].replace(/["]+/g, '')}"> ${post["author"].replace(/["]+/g, '')}</a></div>
            </div>
        </div>
        </div>
    </div>`
}

$( document ).ready(function() {
    renderPosts(0)
    $("#mySidenav").on('click', 'a', function(e) {
        $(this).parent().find('a.font-weight-bold').removeClass('font-weight-bold');
        $(this).addClass('font-weight-bold');
        let ID =  $("a.font-weight-bold").attr("id")
        renderPosts(0,ID)
    });
    $(".sort").on('click', function(e) {
        let ID =  $("a.font-weight-bold").attr("id")
        console.log(ID)
        let sort = parseInt($(this).attr("id"))
        renderPosts(sort,ID)
    });
});

function openNav() {
  document.getElementById("mySidenav").style.width = "200px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

</script>
{% endblock %}
