{% extends 'base.html' %}
{% block content %}
    <input class="form-control mb-4" onkeyup="livesearch(this.value)"  type="text" placeholder="Search Posts" aria-label="Search">
    <p class = "p-size" id = "not_found" style = "display:none">No Post Found</p>
    {% for post in post_obj %}
        {% if post != None %}
        <div class="card mb-4 homecard">
            <div class="card-body">
                <h2 class="card-title h-size" ><a href="{{ url_for('post_detail', pk=post.pk) }}">{{ post.title|replace('"', "") }}</a></h2>
                <p class="card-text p-size">{{ post.content|replace('"', "")|truncate(20, True) }}</p>
            </div>
            <div class="card-footer text-muted p-size">
                By
                <a class = "p-size" href="{{ url_for('user_posts', author=post.author) }}"> {{ post.author|replace('"', "") }}</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}


<script>
    function livesearch(name){
    $('.homecard').each(function() {
        post_name = $(this).children().children('h2').text()
        if(post_name.toLowerCase().includes(name.toLowerCase())){
            $(this).show();
        }else{
            $(this).hide();
        }
    });
    if($(".homecard:visible").length==0){
       $("#not_found").show();
    }else{
        $("#not_found").hide();
    }
 }
</script>
{% endblock %}
