{% extends 'base.html' %}
{% block content %}
    <input class="form-control mb-4" type="text" placeholder="Search" aria-label="Search">
    {% for post in post_obj %}
        {% if post != None %}
        <div class="card mb-4 homecard">
            <div class="card-body">
                <h2 class="card-title h-size" ><a href="{{ url_for('post_detail', pk=post.pk) }}">{{ post.title|replace('"', "") }}</a></h2>
                <p class="card-text p-size">{{ post.content|replace('"', "")|truncate(20, True) }}</p>
            </div>
            <div class="card-footer text-muted p-size">
                By
                <a class = "p-size" href="{{ url_for('user_posts', author=post.author) }}"> {{ post.author|replace('"', "") }}</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
