{% extends 'base.html' %}
{% block content %}
<nav class="navbar nav-color sticky-top">
    <a class="navbar-brand nav-text-color" href="#" onclick="window.history.back();">Back</a>
</nav>
<div class="container-fluid mt-2">
<div class="row">

     <div class="col">
        <legend class="border-bottom"></legend>
         <h4 class="text-muted">{{ author.first_name|replace('"', "") }} {{ author.last_name|replace('"', "") }}'s Posts</h4>
        <legend class="border-bottom"></legend>

    {% for post in post_obj %}
        {% if post != None %}
        <div class="card mb-4 homecard">
            <div class="card-body">
                <table style = "width:100%">
                    <tr style = "width:100%">
                        <th>
                            <h2 class="card-title h-size"><a href="{{ url_for('post_detail', pk=post.pk) }}">{{ post.title|replace('"', "") }}</a></h2>
                        </th>
                        <th style="text-align:right;">
                            <span class="badge badge-success">{{post.category|replace('"', "") }}</span>
                        </th>
                    </tr>
                </table>
                <p class="card-text p-size">{{ post.content|replace('"', "")|truncate(20, True) }}</p>
            </div>

        </div>
        {% endif %}
    {% endfor %}
     </div>
</div>
</div>
{% endblock %}
