::-webkit-scrollbar {
        display: none;
}

.h-size{
    font-size:20px;
}

.p-size{
    font-size:13px;
}
.btn-vote{
    color:black;
    background-color:white;
}

.vote-count:focus {
  outline: none;
  box-shadow: none;
}

.nav-color{
    background: #78bbf9ff;
}

.nav-text-color{
    color: white;
}

.full-width{
    min-height:50vh !important;
}

.post-content{
    min-height:40vh !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: #78bbf9ff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #818181;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}


