::-webkit-scrollbar {
        display: none;
}

.h-size{
    font-size:20px;
}

.p-size{
    font-size:13px;
}
.btn-vote{
    color:black;
    background-color:white;
}

.vote-count:focus {
  outline: none;
  box-shadow: none;
}