::-webkit-scrollbar {
        display: none;
}

.h-size{
    font-size:20px;
}

.p-size{
    font-size:13px;
}
.btn-vote{
    color:black;
    background-color:white;
}

.vote-count:focus {
  outline: none;
  box-shadow: none;
}

.nav-color{
    background: #78bbf9ff;
}

.nav-text-color{
    color: white;
}

.full-width{
    min-height:50vh !important;
}

.post-content{
    min-height:40vh !important;
}